#container{
    width: 15em;
    background-color: aquamarine;
}

/* .selection{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-align: left;
  }